<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">dashboard</a></li>
            <li><a href="#">Venta</a></li>            
        </ol>
    </div>
</div>

<!-- Area de Busqueda de Cliente-->
<div ui-view="busquedaCliente"></div>
<!-- end -->

<div class="row">    
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <!--<i class="fa fa-search"></i>-->
                    <span>Ventas - Copisteria Fenix</span>
                </div>

                <div class="no-move"></div>
            </div>
            <!--iafar: Comienza box de carga de nuevo item de factura -->
            
            <div class="box-content">                
                <h4 class="page-header">Detalles de Producto</h4>
                <form class="form-horizontal ng-pristine ng-valid" role="form">
                    <div class="form-group">
                        <a href="#" class="col-sm-1 control-label" title="Busqueda Avanzada">Codigo:</a>

                        <div class="col-sm-2">
                            <input type="text" ng-model="productoVta.CodProducto" class="form-control" placeholder="000" data-placement="bottom" title="Ingrese el Codigo del Producto">
                        </div>

                        <label class="col-sm-1 control-label">Nombre:</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="productoVta.Descripcion" class="form-control" placeholder="" data-placement="bottom">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-1 control-label">Stock:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="100" data-placement="bottom" title="Cantidad en existencia" readonly="">
                        </div>

                        <label class="col-sm-1 control-label">Cantidad:</label>
                        <div class="col-sm-1">
                            <input type="text" ng-model="productoVta.Cantidad" class="form-control" placeholder="#" data-placement="bottom" title="Ingrese la cantidad del producto">
                        </div>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" placeholder="Un." data-placement="bottom" title="Unidad de Venta" readonly="">
                        </div>

                        <label class="col-sm-1 control-label">Precio$:</label>
                        <div class="col-sm-2">
                            <input type="text" ng-model="productoVta.PrecioUnitario" class="form-control" placeholder="0,00" data-placement="bottom">
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary btn-label-left" ng-click="agregarProducto(productoVta)">
                                <span><i class="fa fa-search"></i></span>
                                Agregar
                            </button>                            
                        </div>
                    </div>
                </form>
            </div>
            <!-- iafar: Fin de box de nuevo item -->
        </div>
    </div>
</div>

<!-- Area de tabla -->
<div ui-view="tablaDetalle"></div>
<!-- end -->

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div>
                <div>
                    <div>                        
                        <div class="col-sm-4">
                            <table>
                                <tr><th class='' id='saleProductTotalLabel_SubTotal'>Subtotal</th><td class='' id='saleProductTotal_SubTotal'>0.00</td></tr>
                                <tr><th id='saleProductTotalLabel_Tax'>Impuesto</th><td id='saleProductTotal_Tax'>0.00</td></tr>
                                <tr class="trTotal"><th id='saleProductTotalLabel_Total'>Total</th><td id='saleProductTotal_Total'>0.00</td></tr>
                                <tr><th id='saleProductTotalLabel_Payment'>Pago</th><td id='saleProductTotal_Payment'>0.00</td></tr>
                                <tr><th id='saleProductTotalLabel_Change'>Cambio</th><td id='saleProductTotal_Change'>0.00</td></tr>
                            </table>
                        </div>                        
                        <div class="col-sm-8 right">
                            {{ventaGuardada}}
                            <button type="button" class="btn btn-success" ng-click="addVenta()">Registrar Venta</button>
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div><!-- saleContainerTotals -->
        </div>
    </div>
</div>


