<div class="box-content no-padding">
    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
        <thead>
            <tr>
                <th>Codigo de Producto</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Unidad de Medida</th>
                <th>Precio Unit.</th>
                <th>Precio Total</th>                
            </tr>
        </thead>
        <tbody>            
            <tr>
                <td>123</td>
                <td>Fotocopia Color A4</td>
                <td>300</td>
                <td>Unidad</td>
                <td>$3</td>
                <td>$900</td>                
            </tr>
            <tr>
                <td>111</td>
                <td>Ploteo Obra Linea Negra</td>
                <td>3</td>                
                <td>Mts</td>
                <td>$42</td>
                <td>$142</td>                
            </tr>
            <tr>
                <td>999</td>
                <td>Fotocopia de Plano</td>
                <td>0.3</td>
                <td>Mts</td>
                <td>$100</td>
                <td>$33.75</td>
            </tr>            
            <!-- End: list_row -->
        </tbody>
        <tfoot>            
        </tfoot>
    </table>
    <div class="form-group">
        <label class="col-sm-2 control-label">Monto Total: </label>
        <div class="col-sm-4">
            <label class="col-sm-2 control-label">$1075,75</label>
        </div>

        <label class="col-sm-2 control-label">Monto Pagado</label>
        <div class="col-sm-4">
            <label class="col-sm-2 control-label">$1000</label>
        </div>
        <label class="col-sm-2 control-label">Saldo</label>
        <div class="col-sm-4">
            <label class="col-sm-2 control-label">$75,75</label>
        </div>
    </div>
</div>
