<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-content">
                <div class="col-xs-6">
                    <b>Facturado A:</b>
                    <address>
                        <strong>{{infoCliente.Nombre_RazonSocial}}</strong><br>
                        {{infoCliente.Direccion}}<br>                        
                        <abbr title="Phone">Telefono:</abbr> {{infoCliente.Telefono}}
                    </address>
                    <address>
                        <strong>Email:</strong><br>
                        <a href="mailto:#">{{infoCliente.Mail}}</a>
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Copisteria Fenix</strong><br>
                        Independencia XXXX<br>                        
                        <abbr title="Phone">Telefono:</abbr> (0385)-431-8694
                    </address>
                    <!--<h3 class="invoice-header">Invoice #37095</h3>
                    <p>Invoice Date: 1/12/14</p>
                    <p class="txt-danger">Payment Due: 10/12/14</p>-->
                </div>
                <div class="clearfix"></div>                
            </div>
        </div>
    </div>
</div>