<div id="sidebar-left" class="col-xs-2 col-sm-2">
    <ul class="nav main-menu">
        <li>
            <a ui-sref="cuentasCorrientes" class="dropdown-toggle">
                <i class="fa fa-dashboard"></i>
                <span class="hidden-xs">Cuentas</span>
            </a>
        </li>
        <li>
            <a ui-sref="venta" class="dropdown-toggle">
                <i class="fa fa-bar-chart-o"></i>
                <span class="hidden-xs">Ventas</span>
            </a>
        </li>
        <!--<li>
            <a ui-sref="usuarios" class="dropdown-toggle">
                <i class="fa fa-bar-chart-o"></i>
                <span class="hidden-xs">Usuarios</span>
            </a>
        </li>-->
        <li>
            <a ui-sref="algo" class="dropdown-toggle">
                <i class="fa fa-bar-chart-o"></i>
                <span class="hidden-xs">Cuentas Corrientes</span>
            </a>
        </li>
        <li>
            <a ui-sref="clientes" class="dropdown-toggle">
                <i class="fa fa-bar-chart-o"></i>
                <span class="hidden-xs">Clientes</span>
            </a>            
        </li>
        <li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle active-parent active">
                <i class="fa fa-table"></i>
                <span class="hidden-xs">Stock</span>
            </a>
            <ul class="dropdown-menu" style="display: block;">
                <li>
                    <a ui-sref="Insumos" class="dropdown-toggle">
                        <i class="fa fa-bar-chart-o"></i>
                        <span class="hidden-xs">Insumos</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="Trabajos" class="dropdown-toggle">
                        <i class="fa fa-bar-chart-o"></i>
                        <span class="hidden-xs">Trabajos</span>
                    </a>
                </li>
            </ul>
        </li>      
        <li>
            <a ui-sref="notificaciones" class="dropdown-toggle">
                <i class="fa fa-bar-chart-o"></i>
                <span class="hidden-xs">Notificaciones</span>
            </a>
        </li>  
    </ul>
</div>