
<div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
        <li><a href="index.html">dashboard</a></li>
        <li><a href="#">Stock</a></li>
        <li><a href="#">Insumos</a></li>
    </ol>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <div class="box-content">
                <tabset justified="true">
                    <tab heading="Nuevo" select="InsumosAdd()">
                        <div ui-view="AddInsumos"></div>
                    </tab>
                    <tab heading="Modificar" select="InsumosMod()">
                        <div ui-view="ModInsumos"></div>
                    </tab>
                    <tab heading="Detalle" select="InsumosDetail()">
                        <div ui-view="DetailInsumos"></div>
                    </tab>
                </tabset>
                <!-- Fin Zona Tabs -->

            </div>
            
        </div>
        <!-- Tempo: Cambiar -->
        
    </div>
    
</div>


    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box">
               <!-- iafar: Listar y buscar Insumos -->
                <div class="box-header">
                    <div class="box-name">
                        <span>Buscar Insumo</span>
                    </div>
                </div>
                <div class="box-content">
                    <!-- iafar: cuadro de busqueda -->
                    <div class="form-group has-success has-feedback">
                        <label class="col-sm-2 control-label">Buscar Producto</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="BusCadena.Nombre" class="form-control" placeholder="Nombre">
                        </div>

                        <div class="col-sm-4">
                            <button type="button" class="btn btn-default"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>

                    <!-- iafar: Tabla de resultados -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Proveedor</th>
                                <th>Cantidad en Stock</th>
                                <th>U. de Medida</th>
                                <th>Precio de compra $</th>
                                <th>Precio de venta $</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- iafar: Agregar filtro para buscar por nombre del insumo-->
                            <tr ng-repeat="i in insumos| filter:BusCadena:strict">
                                <td>{{i.Id}}</td>
                                <td>{{i.Nombre}}</td>
                                <td>{{i.Proveedores.Nombre}}</td>
                                <td>{{i.CantStock}}</td>
                                <td>{{i.UMedida}}</td>
                                <td>{{i.PrecioCompra}}</td>
                                <td>{{i.PrecioVenta}}</td>
                                <td><button ng-click="seleccionar(i)">seleccionar</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="box-content">
                        <div>
                            <button class="btn btn-primary" ng-click="modificar()">Modificar</button>
                            <button class="btn btn-warning" ng-click="eliminar()">Eliminar</button>
                        </div>
                    </div>

                    <!-- iafar: fin de Lista -->
                </div>
        </div>
    </div>

    <!-- Fin Area de listado -->
</div>
