<div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
        <li><a href="index.html">dashboard</a></li>
        <li><a href="#">Stock</a></li>
        <li><a href="#">Insumos</a></li>
    </ol>
</div>

 <div class="row">
    <div class="col-xs-12 col-sm-12">
        <div> <!-- class="box" -->
            <!-- iafar: Listar y buscar Insumos -->
            
            <div class="box-content">
                <!-- iafar: cuadro de busqueda -->
                <h4 class="page-header">Lista de Productos</h4>
                <div class="form-group has-success has-feedback">
                    <label class="col-sm-2 control-label">Buscar Producto</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="BusCadena.Nombre" placeholder="Nombre">
                    </div>

                    <button ng-click="openAltaInsumo()" type="submit" class="btn btn-success btn-label-left">
                        <span><i class="fa fa-plus-square"></i></span>
                        Nuevo
                    </button>

                </div>

                <!-- iafar: Tabla de resultados -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Cantidad en Stock</th>
                            <th>U. de Medida</th>
                            <th>Precio de compra $</th>
                            <th>Precio de venta $</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- iafar: Agregar filtro para buscar por nombre del insumo-->
                        <tr ng-repeat="i in insumos| filter:BusCadena:strict">
                            <td>{{i.Id}}</td>
                            <td>{{i.Nombre}}</td>
                            <td>{{i.Proveedores.Nombre}}</td>
                            <td>{{i.CantStock}}</td>
                            <td>{{i.UMedida}}</td>
                            <td>{{i.PrecioCompra}}</td>
                            <td>{{i.PrecioVenta}}</td>
                            <td><button ng-click="openModInsumo(i)">Modificar</button></td>
                        </tr>
                    </tbody>
                </table>
                               <!-- iafar: fin de Lista -->
            </div>
        </div>
    </div>

    <!-- Fin Area de listado -->
</div>
