        <!--<div class="row">-->
<div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
        <li><a href="index.html">dashboard</a></li>
        <li><a href="#">Stock</a></li>
        <li><a href="#">Insumos</a></li>
    </ol>
</div>
<!--</div>-->
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <!--<i class="fa fa-search"></i>-->
                    <span>Carga de Producto</span>
                </div>

                <div class="no-move"></div>
            </div>
            <!-- Zona de Tabs -->

            <!-- Tempo:Cambiar por tabs -->
            <div class="box-content">
                <h4 class="page-header">Nuevo</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Nombre de Producto" data-toggle="tooltip" data-placement="bottom" title="Ingrese el nombre del producto">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Proveedor</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="country" id="s2_country">
                                <option value="">Seleccione un Proveedor</option>
                                <option value="p1">Proveedor 1</option>
                                <option value="p2">Proveedor 2</option>
                                <option value="p3">Proveedor 3</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group has-success has-feedback">
                        <label class="col-sm-2 control-label">Stock</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Cantidad">
                        </div>

                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Unidad de Medida">

                        </div>
                    </div>

                    <div class="form-group has-error has-feedback">
                        <label class="col-sm-2 control-label">Reposicion</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Punto de Reposicion" data-toggle="tooltip" data-placement="bottom" title="Punto de Reposicion">
                        </div>
                    </div>

                    <div class="form-group has-warning has-feedback">
                        <label class="col-sm-2 control-label">Precio</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                <input type="text" class="form-control" placeholder="Compra">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                <input type="text" class="form-control" placeholder="Venta">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">

                        </div>

                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-label-left">
                                <span><i class="fa fa-clock-o"></i></span>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Tempo: Cambiar -->

            <!--<tabset justified="true">
                <tab heading="Nuevo" select="InsumosAdd()">
                    Nuevo
                    <div ui-view="AddInsumos"></div>
                </tab>
                <tab heading="Modificar" select="InsumosMod()">
                    Modificar
                    <div ui-view="ModInsumos"></div>
                </tab>
                <tab heading="Detalle" select="InsumosDetail()">
                    Detalles
                    <div ui-view="DetailInsumos"></div>
                </tab>
            </tabset>-->

            <!-- Fin Zona Tabs -->
        </div>
    </div>
    <!-- Area de listado de Insumos -->

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <!--<i class="fa fa-table"></i>-->
                        <span>Buscar Insumo</span>
                    </div>
                    <div class="no-move"></div>
                </div>
                <div class="box-content">

                    <div class="form-group has-success has-feedback">
                        <label class="col-sm-2 control-label">Buscar Producto</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>

                        <div class="col-sm-4">
                            <button type="button" class="btn btn-default"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>




                    <!-- Agregar interfaz de busqueda -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Proveedor</th>
                                <th>Cantidad en Stock</th>
                                <th>U. de Medida</th>
                                <th>Precio de venta $</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lapicera negra</td>
                                <td>BIC</td>
                                <td>120</td>
                                <td>Unidades</td>
                                <td>5.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Caja Clips x 120 u.</td>
                                <td>Macrofice</td>
                                <td>300</td>
                                <td>Unidades</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>resma hojas A4 x 500 u.</td>
                                <td>Ledesma</td>
                                <td>150</td>
                                <td>Unidades</td>
                                <td>80.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Fin Area de listado -->
</div>

<!--<script type="text/javascript" class="ng-scope">
    // Run Select2 plugin on elements
    function DemoSelect2() {
        $('#s2_with_tag').select2({ placeholder: "Select OS" });
        $('#s2_country').select2();
    }
    // Run timepicker
    function DemoTimePicker() {
        $('#input_time').timepicker({ setDate: new Date() });
    }
    $(document).ready(function () {
        // Create Wysiwig editor for textare
        TinyMCEStart('#wysiwig_simple', null);
        TinyMCEStart('#wysiwig_full', 'extreme');
        // Add slider for change test input length
        FormLayoutExampleInputLength($(".slider-style"));
        // Initialize datepicker
        $('#input_date').datepicker({ setDate: new Date() });
        // Load Timepicker plugin
        LoadTimePickerScript(DemoTimePicker);
        // Add tooltip to form-controls
        $('.form-control').tooltip();
        LoadSelect2Script(DemoSelect2);
        // Load example of form validation
        LoadBootstrapValidatorScript(DemoFormValidator);
        // Add drag-n-drop feature to boxes
        WinMove();
    });
</script>-->
