<div class="container">
    <div class="row"> 
        <div class="box">        
        <div class="col-lg-11">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div ng-show="!editValue">
                        <h3 class="panel-title">{{cuentaCliente.Cliente.Nombre_RazonSocial}}</h3>
                    </div>
                    <div ng-show="editValue">
                        <input ng-model="cuentaCliente.Cliente.Nombre_RazonSocial" class="form-control" type="text" required>
                    </div>                                        
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>                       
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>                                        
                                        <td>Cuit/Cuil:</td>
                                        <td>
                                            <div ng-show="!editValue">
                                                {{cuentaCliente.Cliente.Cuit_Cuil}}                                                
                                            </div>
                                            <div ng-show="editValue">
                                                <input ng-model="cuentaCliente.Cliente.Cuit_Cuil" class="form-control" type="text" required>
                                            </div>                                            
                                        </td>
                                        <td>Direccion:</td>
                                        <td>                                            
                                            <div ng-show="!editValue">
                                                {{cuentaCliente.Cliente.Direccion}}                                                
                                            </div>
                                            <div ng-show="editValue">
                                                <input ng-model="cuentaCliente.Cliente.Direccion" class="form-control" type="text" required>
                                            </div>                    
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td>Telefono</td>
                                        <td>                                            
                                            <div ng-show="!editValue">
                                                {{cuentaCliente.Cliente.Telefono}}
                                            </div>
                                            <div ng-show="editValue">
                                                <input ng-model="cuentaCliente.Cliente.Telefono" class="form-control" type="text" required>
                                            </div>                    
                                        </td>
                                        <td>Email</td>
                                        <td>
                                            <div ng-show="!editValue">
                                                <a href="mailto:{{cliente.Mail}}">{{cuentaCliente.Cliente.Mail}}</a>                                                
                                            </div>
                                            <div ng-show="editValue">
                                                <input ng-model="cuentaCliente.Cliente.Mail" class="form-control" type="text" required>
                                            </div>                                                                
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td>Numero de Cuenta Corriente</td>
                                        <td>{{cuentaCliente.Id}}</td>
                                        <td>Fecha de Alta de Cuenta Corriente</td>
                                        <td>                                            
                                            {{cuentaCliente.FechaAlta}}
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td>Estado de Cuenta Corriente</td>
                                        <td>
                                            {{cuentaCliente.TipoEstado.Descripcion}}                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a ng-click="edit()" ng-if="!editValue" data-original-title="Editar" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a ng-click="save(cuentaCliente.Cliente)" ng-if="editValue" data-original-title="Guardar" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-save"></i></a>
                        <a ng-click="cancel()" ng-if="editValue" data-original-title="Cancelar" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-floppy-remove"></i></a>
                        <a ng-click="delete(cuentaCliente)" ng-if="!editValue" data-original-title="Eliminar" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>                        
                    </span>
                </div>
            </div>
        </div>
        </div>       
    </div>
</div>