<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Tables</a></li>
            <li><a href="#">Data Tables</a></li>
        </ol>
    </div>
</div>

<!--fpaz: Area de Carga Dinamica de Clientes-->
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <!--<i class="fa fa-search"></i>-->
                    <span>Nuevo Cliente</span>
                </div>

                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <h4 class="page-header">Nuevo</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre o Razon Social</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="cliente.Nombre_RazonSocial" placeholder="Nombre del Cliente" data-toggle="tooltip" data-placement="bottom" title="Ingrese el nombre del Cliente">
                        </div>

                        <label class="col-sm-2 control-label">CUIT/CUIL</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="cliente.Cuit_Cuil" placeholder="Cuit/Cuil" data-toggle="tooltip" data-placement="bottom" title="Ingrese el CUIT/CUIL">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Direccion</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="cliente.Direccion" placeholder="Direccion" data-toggle="tooltip" data-placement="bottom" title="Ingrese la Direccion del Cliente">
                        </div>

                        <label class="col-sm-2 control-label">Telefono</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="cliente.Telefono" placeholder="Telefono" data-toggle="tooltip" data-placement="bottom" title="Ingrese el Telefono">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="cliente.Mail" placeholder="Email del Cliente" data-toggle="tooltip" data-placement="bottom" title="Email del Cliente">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group">                        
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-label-left" ng-click="altaCliente(cliente)">
                                <span><i class="fa fa-clock-o"></i></span>
                                Guardar
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-label-left">
                                <span><i class="fa fancybox-error"></i></span>
                                Limpiar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--fpaz: Fin Area de Carga Dinamica de Clientes-->

<!-- fpaz: Area de Listado de Clientes-->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-usd"></i>
                    <span>Listado de Cliente</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>           
            <div class="box-content no-padding">
                <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
                    <thead>
                        <tr>
                            <th>Id Cliente</th>
                            <th>Nombre o Razon Social</th>
                            <th>CUIT/CUIL</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Start: list_row -->
                        <tr ng-repeat="cliente in clientes">
                            <td>{{cliente.Id}}</td>
                            <td><img class="img-rounded" src="http://i.forbesimg.com/media/lists/people/carlos-slim-helu_50x50.jpg" alt="">{{cliente.Nombre_RazonSocial}}</td>
                            <td>{{cliente.Cuit_Cuil}}</td>
                            <td>{{cliente.Direccion}}</td>
                            <td>{{cliente.Telefono}}</td>
                            <td>{{cliente.Mail}}</td>
                            <td><a ui-sref="cliente_detail.info({clienteId:cliente.Id})">Ver Detalle</a></td>
                        </tr>                        
                        <!-- End: list_row -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id Cliente</th>
                            <th>Nombre o Razon Social</th>
                            <th>CUIT/CUIL</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- fpaz: Fin Area de Listado de Clientes-->

