<!--Area Pagos Pendientes-->
<div class="row-fluid">
    <div class="col-xs-12 col-sm-5 pull-left">        
        <div class="box-content no-padding">
            <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
                <thead>
                    <tr>
                        <th>Numero de Remito</th>
                        <th>Fecha de Remito</th>
                        <th>Monto</th>                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr ng-repeat=" deuda in deudasClientes">
                        <td>{{deuda.Id}}</td>
                        <td>{{deuda.Fecha}}</td>
                        <td>{{deuda.MontoVta}}</td>                        
                        <!--<td><a ui-sref="cliente_detail.pagos.deudaVenta" class="tab-link">Ver Detalle</a></td>-->
                    </tr>
                    <!-- End: list_row -->
                </tbody>
                <tfoot>
                    
                </tfoot>
            </table>
        </div>
    </div>
    <div ui-view="detalleDeuda" class="col-xs-12 col-sm-7"></div>
    <!--<div collapse="isCollapsed" class="col-xs-12 col-sm-7">
        <div ui-view="detalleDeuda"></div>
    </div>-->
    <div class="clearfix"></div>
</div>
<!--Fin: Area Pagos Pendientes-->