<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">dashboard</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Detalles</a></li>
        </ol>
    </div>
</div>
<!-- Area de Detalles de Cliente -->

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">                    
                    <span>Detalle de Cliente</span>
                </div>
                <div class="no-move"></div>
            </div>            

            <div class="box-content">
                <div class="row">
                    <div ui-view="infoCuenta"></div>
                </div>
                <div class="row">
                    <tabset justified="true">                        
                        <tab heading="Ultimos Movimientos" ui-sref="cliente_detail.movimientos">
                            <div ui-view="movCuenta"></div>
                        </tab>
                        <tab heading="Historial de Compras" ui-sref="cliente_detail.historial">
                            <div ui-view="historial"></div>
                        </tab>
                        <tab heading="Pagos Pendientes" ui-sref="cliente_detail.pagos">
                            <div ui-view="pagosCuenta"></div>
                        </tab>                        
                    </tabset>
                </div>
            </div>

        </div>
    </div>
</div>

