<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">dashboard</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Detalles</a></li>
        </ol>
    </div>
</div>
<!-- Area de Detalles de Cliente -->

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <!--<i class="fa fa-table"></i>-->
                    <span>Detalle de Cliente</span>
                </div>
                <div class="no-move"></div>
            </div>

            <div class="box-content">
                <tabset justified="true">
                    <tab heading="Informacion de Cuenta" select="infoCuenta()">                        
                        <div ui-view="infoCuenta"></div>
                    </tab>
                    <tab heading="Ultimos Movimientos" select="movCuenta()">                        
                        <div ui-view="movCuenta"></div>
                    </tab>
                    <tab heading="Pagos Pendientes" select="pagosCuenta()">                        
                        <div ui-view="pagosCuenta"></div>
                    </tab>                    
                </tabset>
            </div>
        </div>
    </div>
</div>

