<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cfenix.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cfenix.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cfenix</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cfenix</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CFenix_Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ifn902nag4.database.windows.net,1433;Initial Catalog=CFenix;User ID=oc@ifn902nag4;Password=Qwerty03" Name="Data Source=tcp:ifn902nag4.database.windows.net,1433;Initial Catalog=CFenix;User Id=oc@ifn902nag4;Password=Qwerty03" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CFenix_Dev.Models.CFenix_Context, CFenix_Dev" MigrationConfiguration="CFenix_Dev.Migrations.Configuration, CFenix_Dev" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CFenix_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ifn902nag4.database.windows.net,1433;Initial Catalog=CFenix;User Id=oc@ifn902nag4;Password=Qwerty03</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>