<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">dashboard</a></li>
            <li><a href="#">Stock</a></li>
            <li><a href="#">Trabajos</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <!--<i class="fa fa-search"></i>-->
                    <span>Carga de Trabajo</span>
                </div>

                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <h4 class="page-header">Nuevo</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Nombre de Producto" data-toggle="tooltip" data-placement="bottom" title="Ingrese el nombre del producto">
                        </div>
                        
                        <label class="col-sm-1 control-label">Insumo</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="el2">
                                <option>Plot Adhesivo</option>
                                <option>Hojas A4</option>
                                <option>Hojas Legal</option>
                                <option>HoJas A3</option>
                            </select>
                        </div>
                        


                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo de Trabajo</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="country" id="s2_country">
                                <option value="">Seleccione Tipo</option>
                                <option value="p1">Impresion</option>
                                <option value="p2">Anillado</option>
                                <option value="p3">Fotocopias</option>
                            </select>

                        </div>

                    </div>
                    

                    <div class="form-group has-warning has-feedback">
                        <label class="col-sm-2 control-label">Precio Venta</label>
                    
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                <input type="text" class="form-control" placeholder="$0,00">
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">

                        </div>

                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-label-left">
                                <span><i class="fa fa-clock-o"></i></span>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Area de tabla -->

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <!--<i class="fa fa-table"></i>-->
                    <span>Buscar Trabajos</span>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">

                <div class="form-group has-success has-feedback">
                    <label class="col-sm-2 control-label">Buscar Producto</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>

                    <div class="col-sm-4">
                        <button type="button" class="btn btn-default"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>


                

                <!-- Agregar interfaz de busqueda -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Precio $</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>A4/OFICIO FOTOCOP. B/N</td>
                            <td>FOTOCOPIAS B/N</td>
                            <td>0.75</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>A4 LINEA COLOR</td>
                            <td>FOTOCOPIAS COLOR</td>
                            <td>2.00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>PLOTEO OLN</td>
                            <td>PLOTEO</td>
                            <td>50.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

